body{
	margin:0;
	padding:0;
}
/*PASTO SOL*/
.sol {
     width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: yellow;
     position: relative;
     top:20px;
     left: 20px;
}
.pasto {
     width: 100%; 
     height: 20%;
     position: absolute;
	 background: green;
	 bottom: 0px;

}
/*CASA*/
.techo {
    width: 250px;
    height: 20px;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 100px solid brown;
    position: relative;
    left: 50%;
    top:100px;
}
.puerta{
	background:pink;
	width: 130px; 
    height: 200px; 
    position: relative;
     left: 53%;
     top: -100px;
}
.ventana{
	background: purple;
	 width: 95px; 
     height: 95px; 
     position: relative;
     left: 65%;
     top: -260px;
}
.chimenea{
	background: black;
	 width: 40px; 
     height: 70px; 
     position: relative;
     left: 67%;
     top: -530px;

}
#circulo1{
	background: #A9A9A9;
	width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
     position: relative;
     left: 50px;
     bottom: 25px;

}
#circulo2{
	background: #A9A9A9;
	width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
     position: relative;
     left: 70px;
     bottom: 70px;
}
#circulo3{
		background: #A9A9A9;
	width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
     position: relative;
     left: 100px;
     bottom: 100px;
}

.casa-solida{
	background:	#D2691E;
     width: 370px; 
     height: 250px; 
     position: relative;
     left: 50%;
     top: 100px;

}



